.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    &__img {
      background-size: cover;
      &_first {
        &:nth-child(1) {
          
          background: url("../images/seat.jpg") no-repeat;
        }
      }
      &_second {
        &:nth-child(2) {
          
          background: url("../images/seats.jpg") no-repeat;
        }
      }
      &_third {
        &:nth-child(3) {
          
          background: url("../images/seat4.jpg") no-repeat;
        }
      }
      &_fourth {
        &:nth-child(4) {
          
          background: url("../images/bag.jpg") no-repeat;
        }
      }
      &_fifth {
        &:nth-child(5) {
          
          background: url("../images/wheel.jpg") no-repeat;
        }
      }
      &_sixth {
        &:nth-child(6) {
         
          background: url("../images/wheel2.jpg") no-repeat;
        }
      }
      &_seventh {
        &:nth-child(7) {
          
          background: url("../images/seat2.jpg") no-repeat;
        }
      }
      &_eighth {
        &:nth-child(8) {
          
          background: url("../images/room.jpg") no-repeat;
        }
      }          
    }
    &__block {
      @include displayFlex(column, center, center);
      background-color: $secondMainColor;
      opacity: 0;
      height: 100%;
      transition: opacity 0.8s linear;
    }
    &__picture {
      width: 50px;
      height: 30px;
      align-self: center;
      margin-bottom: 13px;
    }
    &__link {
      align-self: center;
      text-transform: uppercase;
      text-decoration: none;
      color: $mainColor;
      font-size: $textFontSize;
    }
    &__img:hover > &__block {
      opacity: 0.8;
    }
  }