$mainFont: 'Lato', sans-serif;
$boldFont: 700;
$textFontSize: 14px;

$footerHeaderFS: 16px;
$emailFontSize: 24px;
$inputFontSize: 20px;

//colors
$mainColor: rgb(255, 255, 255);
$secondMainColor: rgb(100, 194, 158);
$textColor: rgb(132, 135, 137);
$menuLinkColor: rgb(77, 73, 89);
$shadowColor: rgba(100, 194, 158,.5);
$errorColor: rgb(189, 19, 19);
$hintColor: rgb(33, 30, 218);
$btnBgColor: rgb(40, 47, 53);
$inputTextColor: rgb(146, 146, 146);
$inputBorderColor: rgb(211, 215, 217);
$bgcolor: rgb(247, 247, 247);
$hTextColor: rgb(53, 55, 56);

$element-mb: 35px;
